<div class="wrapper">
  <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>
  <div class="container">
    <div class="card2">
     <h1>My services</h1>
        <table>
          <thead>
              <td><strong>Name</strong></td>
              <td><strong>Description</strong></td>
              <td><strong>Price/CAD</strong></td>
              <td><strong>Edit</strong></td>
              <td><strong>Destroy</strong></td>
            </tr>
          </thead>
          <tbody>
            <% @services.each do |service| %>
            <tr>
              <td><strong><%= service.name %></strong></td>
              <td><%= service.description %></td>
              <td><strong><%= service.price %></strong></td>
              <td id="link"><%= link_to 'edit', edit_service_path(service) %></td>
              <td id="link"><%= link_to 'destroy', service_path(service), method: :delete %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <p class="btn-yours" id="link"><%= link_to 'Add a service', new_service_path %></p>
      </div>
      <div class="card2">
        <h1>My bookings</h1>
        <% @bookings.each do |booking| %>
          <p>
            <strong id="user"><%= booking.user.first_name %></strong>
            <span id="user"> <%= booking.date%></span>
            <span id="user"><%= booking.status%></span>
            <span id="user"><%= link_to 'Accept', booking_path(booking, status: "accepted"), method: :patch %></span>
            <span id="user"><%= link_to 'Decline', booking_path(booking, status: "declined"), method: :patch %></span>
          </p>
          <% end %>
      </div>
  </div>
</div>

