<div class="profile-content">
  <div class="container">
    <h1><%= current_user.first_name %> <%= current_user.last_name %></h1>

    <div class="profile-services">
      <h2>My services</h1>
        <% @services.each do |service| %>
          <div class="profile-service">
            <div class="profile-service-name">
              <strong><%= service.name %></strong>
            </div>
            <div class="profile-service-description">
              <%= service.description %>
            </div>
            <div class="profile-service-price">
              <strong><%= service.price %>$</strong>
            </div>
            <div class="profile-service-buttons">
              <%= link_to 'edit', edit_service_path(service), class: "btn-yours" %>
              <%= link_to 'delete', service_path(service), method: :delete, class: "btn-yours" %>
            </div>
          </div>
        <% end %>
    </div>
    <%= link_to 'Add a service', new_service_path, class: "btn-yours" %>

    <div class="profile-bookings">
      <h2>My bookings</h1>
      <% @bookings.each do |booking| %>
        <div class="profile-booking">
          <div class="profile-booking-name">
            <strong><%= booking.user.first_name %></strong>
            <strong><%= booking.user.last_name %></strong>
          </div>
          <div class="profile-booking-date">
            <%= booking.date%>
          </div>
          <div class="profile-booking-status">
            <%= booking.status%>
          </div>
          <div class="profile-booking-buttons">
            <% if booking.status == "Pending" %>
              <%= link_to 'Accept', booking_path(booking, status: "Accepted"), method: :patch, class: "btn-yours" %>
              <%= link_to 'Decline', booking_path(booking, status: "Declined"), method: :patch, class: "btn-yours" %>
            <% elsif booking.status == "Accepted" %>
              <%= link_to 'Cancel', booking_path(booking, status: "Declined"), method: :patch, class: "btn-yours" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>

