<% if action_name == 'home' %>
  <div class="navbar-trimmy">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-trimmy-brand" do %>
      <%= image_tag 'trimmy_logo', alt: '', height: 50 %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-trimmy-right">

      <% if user_signed_in? %>

        <!-- Links when logged in -->
        <%= link_to "My bookings", bookings_path, class: "navbar-trimmy-item navbar-trimmy-link" %>
        <%= link_to destroy_user_session_path, method: :delete, class: "navbar-trimmy-item navbar-trimmy-link" do %>
        Log out
        <% end %>
      <% else %>
        <!-- Login link (when logged out) -->
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-trimmy-item navbar-trimmy-link" %>
      <% end %>
    </div>
  </div>
<% else %>
   <div class="navbar-trimmy-color">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-trimmy-brand" do %>
      <%= image_tag "trimmy_logo.png", height: 50 %>
    <% end %>

    <!-- Right Navigation -->
    <div class="navbar-trimmy-right">

      <% if user_signed_in? %>

        <!-- Links when logged in -->
        <%= link_to "My bookings", bookings_path, class: "navbar-trimmy-item navbar-trimmy-link-color" %>
        <%= link_to destroy_user_session_path, method: :delete, class: "navbar-trimmy-item navbar-trimmy-link-color" do %>
        Log out
        <% end %>
      <% else %>
        <!-- Login link (when logged out) -->
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-trimmy-item navbar-trimmy-link-color" %>
      <% end %>
    </div>
  </div>
<% end %>

