<div class="hairstylist-content">
  <div class="container">
    <div class="row">

      <h1> <%= @hairstylist.first_name %> <%= @hairstylist.last_name %></h1>

      <% @hairstylist.services.each do |service| %>
        <div class="service-content">
          <h2><%= service.name %></h2>
          <p><%= service.description %></p>
          <h3><%= service.price %>$</h3>
          <div class="button">
            <%= link_to "Book now", new_service_booking_path(service), class: "btn-yours" %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>


